@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme{
    --font-SNPro:"SN Pro", sans-serif;
}
@layer base{
    body{
        @apply font-SNPro font-light p-2
    }
    p{
        @apply font-SNPro font-light p-2
    }
    button{
        @apply cursor-pointer border-2 rounded-full box-border m-2 pl-4 pr-4 w-40 justify-center
    }
    li{
        @apply cursor-pointer
    }
}